<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901870504657-gogss6kl787a1ssh1401aqra3ke7oo65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901870504657-gogss6kl787a1ssh1401aqra3ke7oo65</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>901870504657-80l634kml9ktbhi2sikbvjbbo3aoi3oc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBO2cc9AXd886akLSuk0GuySnflu63dFG8</string>
	<key>GCM_SENDER_ID</key>
	<string>901870504657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abc.CupraNation-App</string>
	<key>PROJECT_ID</key>
	<string>cupraapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cupraapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901870504657:ios:9b6eb09ae2203c35ac13f0</string>
</dict>
</plist>